<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.sanjiaomao.user.infrastructure.repository.mapper.ActRoleRelMapper" >
  <resultMap id="BaseResultMap" type="xyz.sanjiaomao.user.infrastructure.repository.entity.ActRoleRelDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="act_id" property="actId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.ActRoleRelDO" useGeneratedKeys="true" keyProperty="id" >
    insert into `act_role_rel` (`id`, `act_id`, `role_id` )
    values (#{id,jdbcType=BIGINT}, #{actId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <update id="update" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.ActRoleRelDO">
    update `act_role_rel` set
    <if test="actId">
      `act_id` = #{actId,jdbcType=BIGINT},
    </if>
    <if test="roleId">
      `role_id` = #{roleId,jdbcType=BIGINT},
    </if>
    `version` = #{version,jdbcType=BIGINT} + 1
    where `id` = #{id,jdbcType=BIGINT} and `version` = #{version,jdbcType=BIGINT}
  </update>
</mapper>