<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.sanjiaomao.user.infrastructure.repository.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="xyz.sanjiaomao.user.infrastructure.repository.entity.RoleDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.RoleDO" useGeneratedKeys="true" keyProperty="id" >
    insert into `role` (`id`, `name`)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.RoleDO">
    update `role` set
    <if test="name">
      `name` = #{name,jdbcType=VARCHAR},
    </if>
    `version` = #{version,jdbcType=BIGINT} + 1
    where `id` = #{id,jdbcType=BIGINT} and `version` = #{version,jdbcType=BIGINT}
  </update>
</mapper>