<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.sanjiaomao.user.infrastructure.repository.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="xyz.sanjiaomao.user.infrastructure.repository.entity.UserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        insert into `user`
        (`name`,
         `age`,
         `gender`,
         `id_card`)
        values (#{name,jdbcType=VARCHAR},
                #{age,jdbcType=INTEGER},
                #{gender,jdbcType=INTEGER},
                #{idCard,jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="xyz.sanjiaomao.user.infrastructure.repository.entity.UserDO">
        update `user` set
        <if test="name != null">
            `name` = #{name,jdbcType=VARCHAR},
        </if>
        <if test="age != null">
            `age` = #{age,jdbcType=INTEGER},
        </if>
        <if test="gender != null">
            `gender` = #{gender,jdbcType=INTEGER},
        </if>
        <if test="idCard != null">
            `id_card` = #{idCard,jdbcType=VARCHAR},
        </if>
        `version` = #{version,jdbcType=VARCHAR} + 1
        where id = #{id, jdbcType=BIGINT} and version = #{version,jdbcType=VARCHAR}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from user
        where id = #{id, jdbcType=BIGINT}
    </select>

    <select id="findByIdCard" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from user
        where id_card = #{idCard,jdbcType=VARCHAR}
    </select>

</mapper>